<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<h1 style="color: green;">Hello world.</h1>

<p>Сегодня присутствуют:</p>

<ol>
    {% for p in persons %}
        <li>{{ p.fio }} пришел {{ p.date_registered }}.</li>
    {% endfor %}
</ol>

<form method="POST">
    <input name="fio" placeholder="ФИО">
    <input type="submit" value="Добавить">
</form>

<form method="POST" action="/search">
    <input name="fio" placeholder="ФИО">
    <input type="submit" value="Искать">
</form>

</body>
</html>